*.o
*.exe
*.dll
*.zip

__pycache__
.idea
temp
venv
site

valgrind.xml

# Project
bin
export

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

cmake-build-*

crescent_py_api/utils/temp
crescent_py_api/pocketpy/test

# Test Projects
test_games/cardboard_fighter/src/test
